[Container]
ContainerName=pangolin
Image=docker.io/fosrl/pangolin:ee-latest

Pod=services.pod

HealthCmd=["curl","-f","http://localhost:3001/api/v1/"]
HealthInterval=10s
HealthRetries=15
HealthTimeout=10s
Notify=healthy

Volume=/var/lib/pangolin/config:/app/config:z
Volume=/var/lib/pangolin/config/letsencrypt:/app/config/letsencrypt:ro,z

[Service]
Restart=always

[Install]
WantedBy=default.target
