# Wants= (not Requires=): see gerbil.container.
[Unit]
After=pangolin.service
Wants=pangolin.service

[Container]
ContainerName=traefik
Image=docker.io/traefik:latest

Pod=services.pod

Exec='--configFile=/etc/traefik/traefik_config.yml'

Volume=/var/lib/pangolin/config/traefik:/etc/traefik:ro,z
Volume=/var/lib/pangolin/config/letsencrypt:/letsencrypt:z
Volume=/var/lib/pangolin/config/traefik/logs:/var/log/traefik:z

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy=default.target
